*, 
::after, 
::before {
    box-sizing: border-box;
}
body, header, h1, h2, h3, h4, h5, h6, p {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
ul, ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
}
.container {
    max-width: 1140px;
    padding-left: 130px;
    display: flex;
    align-items: center;
    padding-top: 42px;
    flex-wrap: wrap;
    margin: 0 auto;
}
#logo-header {
color: #FFF;
font-family: Ribeye;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 36px */
letter-spacing: 1.44px;
margin-right: 140px;

}
#links-header {
    display: flex;
    gap: 50px;
    margin-right: auto;
}
.header-link {
color: #FFF;
font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 150%; /* 27px */
transition: scale 250ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.header-link:hover {
    scale: 1.2;
}
.header-btn {
border-radius: 5px;
background: #C9453B;
color: #FFF;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 24px */
border: none;
padding-top: 14px;
padding-bottom: 13px;
padding-left: 34px;
padding-right: 34px;
cursor: pointer;
transition: scale 250ms cubic-bezier(0.445, 0.05, 0.55, 0.95), color 250ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.header-btn:hover {
    scale: 1.1;
    color: black;
}
.header {
    background-image: linear-gradient(rgba(46, 47, 66, 0.443), rgba(46, 47, 66, 0.225)), url(../images/spcbcg.jpeg);
    background-repeat: no-repeat;
    background-color: #2E2F42B2;
    background-position: center;
    background-size: cover;
}
#main-block {
    padding-top: 208px;
    color:#fff;
    max-width: 1140px;
    padding-left: 218px;
    padding-bottom: 244px;
}
#main-text {
    color: #FFF;
font-family: Gelasio;
font-size: 65px;
font-style: normal;
font-weight: 700;
line-height: 120%; /* 78px */
max-width: 804px;
}
#scndr-text {
    margin-top: 30px;
    color: #FFF;
font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 160%; /* 28.8px */
max-width: 458px;
letter-spacing: 0.02em;
}
#main-block .header-btn {
    padding-top: 18px;
    padding-bottom: 17px;
    padding-left: 47px;
    padding-right: 46px;
    margin-top: 56px;
}
.container-popular {
    padding-left: 230px;
    padding-right: 230px;
    padding-top: 140px;
    padding-bottom: 140px;
    margin: 0 auto ;
    max-width: 1140px;
}
.text-main {
    color: #000;
font-family: Gelasio;
font-size: 43px;
font-style: normal;
font-weight: 500;
line-height: 140%; /* 60.2px */
text-align: center;
display: block;
}
.text-second {
    color: #000;
text-align: center;
font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 300;
line-height: 160%; /* 28.8px */
display: block;
margin-top: 10px;
}
#popular-list {
    padding-top: 50px;
    display: flex;
    gap: 24px;
    justify-content: center;

}
.popular-item {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.10);
    background: #FFF;
    max-width: 360px;
    padding-bottom: 33px;
    transition: scale 250ms cubic-bezier(0.445, 0.05, 0.55, 0.95), background-color 250ms cubic-bezier(0.445, 0.05, 0.55, 0.95) ;
}
.popular-item:hover {
    scale: 1.05;
    background-color: antiquewhite;
}

.country {
    color: #000;
text-align: center;
font-family: Gelasio;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 150%; /* 36px */
padding-top: 35px;
}
.country-desc {
    display: flex;
    flex-wrap: wrap;
    color: #000;
text-align: center;
font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 300;
line-height: 160%; /* 28.8px */
padding-left: 27px ;
padding-right: 27px;
padding-top: 10px;
}

#offers-list  {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    padding-bottom: 143px;
    gap: 73px;
    justify-content: center;
}
.offers-item {
    display: flex;
    flex-direction: column;
    gap: 8px;
    transition: scale 250ms cubic-bezier(0.445, 0.05, 0.55, 0.95) ;

}
.special-container {
    max-width: 1140px;
    margin: 0 auto;
}
.offers-item:hover {
    scale: 1.05;

}
.special-name {
    color: #000;
font-family: Gelasio;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 150%; /* 36px */
padding-top: 20px;
}
.loc-rate {
    position: relative;
    display: flex;
    color: #000;
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 30px */


align-items: center;
}
.location {
    padding-left:10px ;
    opacity: 0.6;
}
.icon-star {
    margin-left: 50px;
}
.rating {
    margin-left: 10px;
    color: #000;
font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 27px */
}
.how-long {
    color: #000;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 24px */
opacity: 0.6;
}
.number-price {
    color: #000;
font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 150%;
}
.price {
    color: rgba(0, 0, 0, 0.60);
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 150%;
}
.text-second {
    width: 581px;
    margin-left: auto;
    margin-right: auto;
}
.first-block-blog {
    padding-left: 100px;
    margin-top: 56px;
    display: flex;
    padding-bottom: 70px;
    justify-content: center;

}
.section-four {
    max-width: 1140px;
    margin: 0 auto;
}
.first-block-blog {
    display: flex;
    flex-direction: row;
    gap: 32px;
}
.second-block {
    display: flex;
    flex-direction: column;
    gap:30px;
}
.second-item-place {
    display: flex;
    gap: 27px;
    column-gap: 24px;
}
.name-blog {
    color: #000;
font-family: Gelasio;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 160%; /* 32px */
padding-top: 35px;
}
.name-blog-block {
    color: #000;
    font-family: Gelasio;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 30px */
padding-top: 33px;
}
.feedback-text {
    color: #000;
font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 160%; /* 28.8px */

max-width: 243px;
opacity: 0.6;
margin-top: 5px;
}
.descr-blog {
    color: #000;
font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 300;
line-height: 160%; /* 28.8px */
padding-top: 10px;
max-width: 470px;
}
.name-feedback {
    padding-top: 5px ;
    color: #000;
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 30px */
opacity: 0.6;
}
.main-name-feedback {
    color: #000;
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 30px */
margin-top: 10px;
}
.logo-footer {
    color: #000;
font-family: Ribeye;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 36px */
letter-spacing: 1.44px;
}
#footer-list {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}
footer{
    padding-bottom: 140px;
    padding-top: 70px;
    background-color: rgba(38, 148, 153, 0.04);
}
.footer {
    max-width: 1140px;
    margin: 0 auto;
}
.icon-footer {
    margin-top: 20px;
    display: flex;
    gap: 27px;
}
.contact {
    color: #000;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 300;
line-height: 160%; /* 25.6px */
letter-spacing: 0.96px;
}
.column-footer {
    display: flex;
    flex-direction: column;
}
.footer {
    display: flex;
    flex-direction: row;
    gap: 600px;
    justify-content: center;
}
.subsc-text {
    color: #000;
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 30px */
letter-spacing: 1.2px;
}
.input {
    margin-top: 42px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    color: #000;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 24px */
letter-spacing: 0.96px;
margin-right: 35px ;
border-radius: 5px;
border: 1px solid #000;
opacity: 0.1;
box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.15);
}
.input::placeholder {
color: #000;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 24px */
letter-spacing: 0.96px;
opacity: 1;
}